@model IEnumerable<WebApplication1.Models.Movie>

@{
    ViewBag.Title = "ReleasedYear";
}


<h2>Movies Released in @ViewBag.Year</h2>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}

<table class="table">
    <thead>
        <tr>
            <th>Movie ID</th>
            <th>Movie Name</th>
            <th>Date of Release</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Mid</td>
                <td>@movie.MovieName</td>
                <td>@movie.DateOfRelease.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>